#contact {
  background: #010519;
  min-height: 150px;
  font-family: $font2;
  color: $color-light;
  
  .contactContainer {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    .socialNetworksContainer {
      p {
        font-size: 0.8rem;
        text-align: center;
      }
      .socialNetworks {
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        a {
          transition: 0.3s ease;
          &:hover {
            transform: scale(1.1);
          }
          img {
            height: 60px;
          }
        }
      }
    }
    .cvDownload {
      p {
        font-size: 0.8rem;
        margin-bottom: 20px;
        text-align: center;
      }
      button {
        width: 150px;
        height: 40px;
        background: #491d50;
        color: $color-light;
        border: none;
        border-radius: 10px;
        font-size: 1rem;
        box-shadow: 1px 1px 5px rgba(245, 245, 245, 0.308);
        margin: 0 0 20px 10px;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
          transform: scale(1.03);
        }
      }
    }
  }
}
