header {
  // 'Pure CSS Responsive Navbar' from Jones Joseph, adapted
  // https://codepen.io/jo_Geek/pen/xgbaEr
  .nav {
    height: 50px;
    width: 100%;
    background: rgb(77, 77, 77);
    background: linear-gradient(
      180deg,
      rgba(77, 77, 77, 1) 0%,
      rgba(20, 24, 25, 1) 90%
    );
    position: relative;
    z-index: 1;
    & > .nav-header {
      display: inline;
      & > .nav-title {
        display: inline-block;
        font-family: $font1;
        font-size: 24px;
        color: #fff;
        padding: 10px 10px 10px 10px;
      }
    }
    & > .nav-btn {
      display: none;
      @media (max-width: 600px) {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
      }
      & > label {
        @media (max-width: 600px) {
          display: inline-block;
          width: 50px;
          height: 50px;
          padding: 13px;
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.3);
        }
        & > span {
          @media (max-width: 600px) {
            display: block;
            width: 25px;
            height: 10px;
            border-top: 2px solid #eee;
          }
        }
      }
    }
    & > .nav-links {
      display: inline;
      float: right;
      font-size: 18px;
      @media (max-width: 600px) {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
      }
      & > a {
        display: inline-block;
        padding: 13px 10px 13px 10px;
        text-align: center;
        text-decoration: none;
        color: $color-light;
        @media (max-width: 600px) {
          display: block;
          width: 100%;
        }
        &:hover {
          @media (max-width: 600px) {
            background-color: rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
    & > #nav-check {
      display: none;
      &:checked ~ .nav-btn > label {
        @media (max-width: 600px) {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }
      &:not(:checked) ~ .nav-links {
        @media (max-width: 600px) {
          height: 0px;
        }
      }
      &:checked ~ .nav-links {
        @media (max-width: 600px) {
          height: calc(100vh - 50px);
          overflow-y: auto;
        }
      }
    }
  }
}
