#home {
  min-height: calc(100vh - 50px);
  overflow: hidden;
  background: url(#{$rootpath}/assets/img/main-bg.jpg) center/cover;
  position: relative;
  #welcome {
    position: absolute;
      top: 200px;
      left: 20vw;
    h1, p {
      font-family: $font1;
      color: $color-light;
    }
    h1 {
      font-size: 2.5rem;
      margin-bottom: 30px;
    }
    p {
      font-size: 1.4rem;
      padding-left: 30px;
    }
  }
}