#projects {
  background: url(#{$rootpath}/assets/img/gradienta-qPC34BUgMZY-unsplash.jpg)
  center/cover;
  min-height: 100vh;
  #portfolio {
    padding: 50px 0;
    color: $color-light;
    text-align: center;
  }
  #portfolioIntro {
    color: $color-light;
    width: 50%;
    margin: 0 auto 50px;
    text-align: center;
  }
  #cardsContainer {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
     "card1 card2"
     "card3 card4"
     ;
    gap: 20px;
    .card {
      background: $color-grey;
      width: 100%;
      height: 470px;
      display: flex;
      flex-direction: column;
      justify-content:space-between ;
      align-items: center;
      border-radius: 10px;
      border: 1px solid whitesmoke;
      box-shadow: 5px 5px 16px rgba(245, 245, 245, 0.199);
      img {
        border: none;
      }
      .card-img-top {
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: 250px;
      }
      .card-body {
        .card-title {
          color: $color-light;
          font-size: 2rem;
          padding-left: 10px;
          margin: 10px 0 20px;
        }
        .card-text {
          // background: $color-grey;
          width: 100%;
          border-radius: 5px;
          text-align: left;
          padding: 0 10px;
          font-size: 1.2rem;
          margin-bottom: 20px;
          color: $color-light;
        }
        button {
          width: 150px;
          height: 40px;
          background: #491d50;
          color: $color-light;
          border: none;
          border-radius: 10px;
          font-size: 1rem;
          box-shadow: 1px 1px 5px rgba(245, 245, 245, 0.308);
          margin: 0 0 20px 10px;
          cursor: pointer;
          transition: 0.3s ease;
          &:hover {
            transform: scale(1.03);
          }
        }
      }
    }
    #card1 {
      grid-area: card1;
      #cardImgTop1 {
        background: url(#{$rootpath}/assets/img/gaming_campus.png) center/cover;
      }
    }
    #card2 {
      grid-area: card2;
      #cardImgTop2 {
        background: url(#{$rootpath}/assets/img/run.png) center/cover;
      }
    }
    #card3 {
      grid-area: card3;
      #cardImgTop3 {
        background: url(#{$rootpath}/assets/img/montagne.png) center/cover;
      }
    }
    #card4 {
      grid-area: card4;
      #cardImgTop4 {
        background: url(#{$rootpath}/assets/img/resto.png) center/cover;
      }
    }
  }
}
