@font-face {
  font-family: 'font-dancing-script';
  src: url("/assets/fonts/DancingScript-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body ::-moz-selection {
  background-color: #4c4c4c;
  color: whitesmoke;
}

body ::selection {
  background-color: #4c4c4c;
  color: whitesmoke;
}

header .nav {
  height: 50px;
  width: 100%;
  background: #4d4d4d;
  background: -webkit-gradient(linear, left top, left bottom, from(#4d4d4d), color-stop(90%, #141819));
  background: linear-gradient(180deg, #4d4d4d 0%, #141819 90%);
  position: relative;
  z-index: 1;
}

header .nav > .nav-header {
  display: inline;
}

header .nav > .nav-header > .nav-title {
  display: inline-block;
  font-family: "font-dancing-script", cursive;
  font-size: 24px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

header .nav > .nav-btn {
  display: none;
}

@media (max-width: 500px) {
  header .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
}

@media (max-width: 500px) {
  header .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
}

header .nav > .nav-btn > label:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 500px) {
  header .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
}

header .nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

@media (max-width: 500px) {
  header .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
}

header .nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

@media (max-width: 500px) {
  header .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
}

@media (max-width: 500px) {
  header .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

header .nav > #nav-check {
  display: none;
}

@media (max-width: 500px) {
  header .nav > #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 500px) {
  header .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
}

@media (max-width: 500px) {
  header .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

#home {
  min-height: calc(100vh - 50px);
  overflow: hidden;
  background: url(./../assets/img/main-bg.jpg) center/cover;
  position: relative;
}

#home #welcome {
  position: absolute;
  top: 200px;
  left: -50vw;
  -webkit-animation: slidingWelcome 3s ease-out forwards;
          animation: slidingWelcome 3s ease-out forwards;
  padding-right: 30px;
}

#home #welcome h1,
#home #welcome p {
  font-family: "font-dancing-script", cursive;
  color: whitesmoke;
}

#home #welcome h1 {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 30px;
}

#home #welcome p {
  font-size: 1.4rem;
  padding-left: 30px;
}

#home #section07 a {
  padding-top: 80px;
}

#home #section07 a span {
  position: absolute;
  bottom: 80px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
          animation: sdb07 2s infinite;
  opacity: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#home #section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

#home #section07 a span:nth-of-type(2) {
  bottom: 64px;
  -webkit-animation-delay: 4.15s;
          animation-delay: 4.15s;
}

#home #section07 a span:nth-of-type(3) {
  bottom: 48px;
  -webkit-animation-delay: 4.3s;
          animation-delay: 4.3s;
}

@-webkit-keyframes slidingWelcome {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 15vw;
  }
}

@keyframes slidingWelcome {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 15vw;
  }
}

@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#about {
  background: url(./../assets/img/gradienta-n2XqPm7Bqhk-unsplash.jpg) center/cover;
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */