@font-face {
  font-family: "font-dancing-script";
  src: url("./../assets/fonts/DancingScript-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "font-dancing-script", cursive;
}

body ::-moz-selection {
  background-color: #4c4c4c;
  color: whitesmoke;
}

body ::selection {
  background-color: #4c4c4c;
  color: whitesmoke;
}

body h1 {
  font-size: 2rem;
}

body h2 {
  font-size: 1.8rem;
}

body p {
  font-size: 1.4rem;
}

header .nav {
  height: 50px;
  width: 100%;
  background: #4d4d4d;
  background: -webkit-gradient(linear, left top, left bottom, from(#4d4d4d), color-stop(90%, #141819));
  background: linear-gradient(180deg, #4d4d4d 0%, #141819 90%);
  position: relative;
  z-index: 1;
}

header .nav > .nav-header {
  display: inline;
}

header .nav > .nav-header > .nav-title {
  display: inline-block;
  font-family: "font-dancing-script", cursive;
  font-size: 24px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

header .nav > .nav-btn {
  display: none;
}

@media (max-width: 600px) {
  header .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
}

@media (max-width: 600px) {
  header .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
}

header .nav > .nav-btn > label:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
  header .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
}

header .nav > .nav-links {
  display: inline;
  float: right;
  font-size: 20px;
}

@media (max-width: 600px) {
  header .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
}

header .nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
}

@media (max-width: 600px) {
  header .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
}

@media (max-width: 600px) {
  header .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

header .nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  header .nav > #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 600px) {
  header .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
}

@media (max-width: 600px) {
  header .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

#home {
  min-height: calc(100vh - 50px);
  overflow: hidden;
  background: url(./../assets/img/main-bg.jpg) center/cover;
  position: relative;
}

#home #welcome {
  position: absolute;
  top: 200px;
  left: -50vw;
  -webkit-animation: slidingWelcome 3s ease-out forwards;
          animation: slidingWelcome 3s ease-out forwards;
  padding-right: 30px;
}

#home #welcome h1,
#home #welcome p {
  font-family: "font-dancing-script", cursive;
  color: whitesmoke;
}

#home #welcome h1 {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 30px;
}

#home #welcome p {
  font-size: 1.4rem;
  padding-left: 30px;
}

#home #scroller01 a {
  padding-top: 80px;
}

#home #scroller01 a span {
  position: absolute;
  bottom: 88px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
          animation: sdb07 2s infinite;
  opacity: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#home #scroller01 a span:nth-of-type(1) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

#home #scroller01 a span:nth-of-type(2) {
  bottom: 72px;
  -webkit-animation-delay: 4.15s;
          animation-delay: 4.15s;
}

#home #scroller01 a span:nth-of-type(3) {
  bottom: 56px;
  -webkit-animation-delay: 4.3s;
          animation-delay: 4.3s;
}

@-webkit-keyframes slidingWelcome {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 15vw;
  }
}

@keyframes slidingWelcome {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 15vw;
  }
}

@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#about {
  background: url(./../assets/img/gradienta-n2XqPm7Bqhk-unsplash.jpg) center/cover;
  min-height: 100vh;
  height: 100vh;
  position: relative;
}

@media screen and (max-width: 800px) {
  #about {
    height: 1200px;
  }
}

#about #polygonsContainer {
  position: absolute;
  top: 18%;
  left: 5%;
  width: 90%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 800px) {
  #about #polygonsContainer {
    top: 5%;
  }
}

#about #polygonsContainer #polygon01 {
  background: rgba(245, 245, 245, 0.096);
  border-radius: 36% 13% 27% 22% / 30% 14% 39% 26%;
  min-width: 350px;
  width: 40%;
  max-width: 550px;
  min-height: 350px;
  height: 500px;
  max-height: 800px;
}

@media screen and (max-width: 800px) {
  #about #polygonsContainer #polygon01 {
    margin: 20px;
  }
}

#about #polygonsContainer #polygon01 #aboutMe {
  color: whitesmoke;
  font-family: "font-dancing-script", cursive;
}

#about #polygonsContainer #polygon01 #aboutMe h2 {
  margin: 20px 0 30px;
  padding-left: 30%;
}

#about #polygonsContainer #polygon01 #aboutMe article p {
  padding: 0 5% 0 12%;
}

#about #polygonsContainer #polygon01 #aboutMe article p i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  color: whitesmoke;
}

#about #polygonsContainer #polygon01 #aboutMe article p i:hover {
  cursor: pointer;
}

#about #polygonsContainer #polygon02 {
  background: rgba(245, 245, 245, 0.096);
  border-radius: 36% 13% 27% 22% / 30% 14% 39% 26%;
  min-width: 350px;
  width: 40%;
  max-width: 550px;
  min-height: 350px;
  height: 500px;
  max-height: 800px;
}

@media screen and (max-width: 800px) {
  #about #polygonsContainer #polygon02 {
    margin: 20px;
  }
}

#about #polygonsContainer #polygon02 #skills {
  width: 90%;
  margin: auto;
  color: whitesmoke;
  font-family: "font-dancing-script", cursive;
}

#about #polygonsContainer #polygon02 #skills h2 {
  margin: 20px 0 30px;
  padding-left: 20%;
}

#about #polygonsContainer #polygon02 #skills #skillsLegend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  font-size: 1rem;
  margin: 0 auto 20px;
}

#about #polygonsContainer #polygon02 #skills h6 {
  font-size: 0.8rem;
}

#about #polygonsContainer #polygon02 .col {
  width: 90%;
  margin: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
}

#about #polygonsContainer #polygon02 .progressBarsContainer {
  margin: auto;
}

@-webkit-keyframes progress-bar-stripes {
  0% {
    background-position-x: 1rem;
  }
}

@keyframes progress-bar-stripes {
  0% {
    background-position-x: 1rem;
  }
}

#about #polygonsContainer #polygon02 .progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  margin-bottom: 5px;
}

#about #polygonsContainer #polygon02 .progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #e96228;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

@media (prefers-reduced-motion: reduce) {
  #about #polygonsContainer #polygon02 .progress-bar {
    -webkit-transition: none;
    transition: none;
  }
}

#about #polygonsContainer #polygon02 .progress-bar-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

#about #polygonsContainer #polygon02 .progress-bar-animated {
  -webkit-animation: 1s linear infinite progress-bar-stripes;
  animation: 1s linear infinite progress-bar-stripes;
}

@media (prefers-reduced-motion: reduce) {
  #about #polygonsContainer #polygon02 .progress-bar-animated {
    -webkit-animation: none;
    animation: none;
  }
}

#projects {
  background: url(./../assets/img/gradienta-qPC34BUgMZY-unsplash.jpg) center/cover;
  min-height: 100vh;
}

#projects #portfolio {
  padding: 50px 0;
  color: whitesmoke;
  text-align: center;
}

#projects #portfolioIntro {
  color: whitesmoke;
  width: 50%;
  margin: 0 auto 50px;
  text-align: center;
}

#projects #cardsContainer {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "card1 card2" "card3 card4";
  gap: 20px;
}

#projects #cardsContainer .card {
  background: rgba(80, 80, 80, 0.8);
  width: 100%;
  height: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: 1px solid whitesmoke;
  -webkit-box-shadow: 5px 5px 16px rgba(245, 245, 245, 0.199);
          box-shadow: 5px 5px 16px rgba(245, 245, 245, 0.199);
}

#projects #cardsContainer .card img {
  border: none;
}

#projects #cardsContainer .card .card-img-top {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 250px;
}

#projects #cardsContainer .card .card-body .card-title {
  color: whitesmoke;
  font-size: 2rem;
  padding-left: 10px;
  margin: 10px 0 20px;
}

#projects #cardsContainer .card .card-body .card-text {
  width: 100%;
  border-radius: 5px;
  text-align: left;
  padding: 0 10px;
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: whitesmoke;
}

#projects #cardsContainer .card .card-body button {
  width: 150px;
  height: 40px;
  background: #491d50;
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  -webkit-box-shadow: 1px 1px 5px rgba(245, 245, 245, 0.308);
          box-shadow: 1px 1px 5px rgba(245, 245, 245, 0.308);
  margin: 0 0 20px 10px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#projects #cardsContainer .card .card-body button:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

#projects #cardsContainer #card1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: card1;
}

#projects #cardsContainer #card1 #cardImgTop1 {
  background: url(./../assets/img/gaming_campus.png) center/cover;
}

#projects #cardsContainer #card2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: card2;
}

#projects #cardsContainer #card2 #cardImgTop2 {
  background: url(./../assets/img/run.png) center/cover;
}

#projects #cardsContainer #card3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: card3;
}

#projects #cardsContainer #card3 #cardImgTop3 {
  background: url(./../assets/img/montagne.png) center/cover;
}

#projects #cardsContainer #card4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: card4;
}

#projects #cardsContainer #card4 #cardImgTop4 {
  background: url(./../assets/img/resto.png) center/cover;
}

#contact {
  background: url(./../assets/img/quinton-coetzee-_fHzsyyDcuQ-unsplash.jpg) center/cover;
  min-height: 100vh;
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */